.SpaceGame{
	*{
		padding: 0;
		margin: 0;
	}
	border: 1px solid #222;
	width: 640px;
	color: #ccc;
	.AppHeader{
		background-color: #444;
		ul.state{
			display: block;
			font-size: 0;
			li{
				font-size: 1rem;
				display: inline-block;
				border-right: 1px solid #555;
				padding: 0.5rem;
			}
		}
	}
	.GameCanvas{
		background-color: #000;
		height: 480px;
	}

	button{
		background-color: #333;
		border: 1px solid #666;
	}
}
